/* 声明全局CSS变量，实际值会动态注入，使用 Vite Plugin 自动生成 */
:root {
  --primary-color: none;
  --primary-color-light: none;
  --primary-color-dark: none;
  --primary-color-action: none;
  --background-color: none;
  --background-color-light: none;
  --background-color-dark: none;
  --font-size-small: none;
  --font-size-normal: none;
  --font-size-large: none;
  --font-size-super: none;
  --text-color-dark: none;
  --text-color-normal: none;
  --text-color-light: none;
}
